ul.navigation.navigation-main.navigation-accordion.navigation-my, ul.navigation.navigation-main.navigation-accordion.navigation-my li ul li {
    list-style: none;
}
.admin-header .breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding-top: 20px;
}
ul.navigation.navigation-main.navigation-accordion.navigation-my {
    margin: 0;
    padding-left: 15px;
}
ul.sidebar .sidebar-list .navigation a {
    text-indent: 10px;
    line-height: 30px;
}
ul.sidebar .sidebar-list a:hover {
     text-indent: 10px;
}
ul.navigation.navigation-main.navigation-accordion.navigation-my > li > a {
    text-transform: uppercase;
    padding-top: 9px;
}
ul.navigation.navigation-main.navigation-accordion.navigation-my .fa {
    padding-right: 4px;
}
ul.navigation.navigation-main.navigation-accordion.navigation-my > li > ul {
    padding-left: 19px;
}
.modal-dialog {
    z-index: 10000;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-info h4 {
    color: #1b809e;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout-danger {
    border-left-color: #ac50ce;
}
.bs-callout-danger h4 {
    color: #ac50ce;
}
.bs-callout-success {
    border-left-color: #34ce67;
}
.bs-callout-success h4 {
    color: #34ce67;
}
.comment-text {
    color: lightslategray;
    font-family: cursive ;
}
p.login-name-label {
    padding-left: 20px;
    color: gray;
    cursor: default;
}